@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.app_redesigned {
    font: var(--font-text-m);
}

.content_page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 16px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);
    border-radius: 20px;
    border: 2px solid var(--bg-color);
}
