.ListBox {
    position: relative;
    display: inline-block;
}

.options {
    position: absolute;
    z-index: 1;
    list-style: none;
    min-width: 100%;
}

.selected {
    background: var(--light-bg-redesigned);
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

.label {
    cursor: pointer;
}
