:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-xs: 10px;
    --font-line-xs: 16px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    //  Размеры
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // z - индексы
    --modal-z-index: 10;
    --overlay-z-index: -1;

    // Цвета
    --overlay-color: rgba(0 0 0 / 50%);
    --red-light: #ea0000;
    --red-dark: #a10000;

    // Redesigned
    --font-family-text-redesigned: "Nunito Sans", sans-serif;
    --font-family-title-redesigned: "Roboto", sans-serif;

    // Text
    --font-text-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-text-redesigned);
    --font-text-s: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);
    --font-text-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);
    --font-text-l: var(--font-size-l) / var(--font-line-l) var(--font-family-text-redesigned);
    --font-text-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-text-redesigned);

    // Title
    --font-title-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-title-redesigned);
    --font-title-s: var(--font-size-s) / var(--font-line-s) var(--font-family-title-redesigned);
    --font-title-m: var(--font-size-m) / var(--font-line-m) var(--font-family-title-redesigned);
    --font-title-l: var(--font-size-l) / var(--font-line-l) var(--font-family-title-redesigned);
    --font-title-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title-redesigned);
}
