.ArticleDetails {
    min-height: 100%;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
}

.articleInfo > svg {
    height: var(--font-line-m);
    width: var(--font-line-m);
    margin-right: 5px;
}
