.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo > svg {
    height: var(--font-line-m);
    width: var(--font-line-m);
    margin-right: 5px;
}

.block {
    margin-top: 16px;
}

.img {
    width: 100%;
    max-height: 420px;
}
