.ArticleViewSelector {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.button {
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--primary-color);
}
