.Modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.4s all ease;
}

.content {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s transform ease-in-out;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    opacity: 0.5;

    .content {
        transform: scale(0.2);
    }
}
