.Icon {
    font-size: 0;
}

.fill {
    fill: var(--primary-color);
    color: var(--primary-color);
}

.fill.inverted {
    fill: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.stroke {
    stroke: var(--primary-color);
}

.stroke.inverted {
    stroke: var(--inverted-primary-color);
}

.both {
    stroke: var(--primary-color);
    fill: var(--primary-color);
    color: var(--primary-color);
}

.both.inverted {
    stroke: var(--inverted-primary-color);
    fill: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}
