.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease;
}

.items {
    margin-left: 30px;
    margin-top: 20px;
}

.switcher {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
}

.lang {
    color: var(--inverted-primary-color);
}

.collapseBtn {
    position: absolute;
    top: 0;
    right: -32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcher {
        padding: 0;
    }
}
