.SidebarItem {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 10px;
    overflow: hidden;
    width: fit-content;
}

.link {
    margin-left: 10px;
    transition: 0.3s all ease;
    white-space: nowrap;
}

.icon {
    height: var(--font-line-m);
    width: var(--font-line-m);
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        max-width: 0;
    }
}
