.SidebarItem {
    width: fit-content;
}

.block {
    overflow: hidden;
}

.link {
    transition: 0.3s all ease;
    white-space: nowrap;
    max-width: 100%;
}

.icon {
    height: var(--font-line-m);
    width: var(--font-line-m);
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        max-width: 0;
    }
}
