.ArticleList {
    height: 100%;
    min-height: 100%;
}

.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 10px;
}
