.ArticleListItem {
    font: var(font-m);
}

.BIG {
    .types p {
        overflow: hidden;
        white-space: nowrap;
        width: 300px;
        text-overflow: ellipsis;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
        margin: 16px 0;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .user {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }
}

.SMALL {
    width: 230px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    .date {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &:hover {
        transform: scale(1.01);
        opacity: 0.9;

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .infoWrapper {
        display: flex;
        margin-top: 8px;
        align-items: center;
    }

    .types p {
        overflow: hidden;
        white-space: nowrap;
        width: 115px;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        margin-top: 8px;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
