.popup {
    position: relative;
    display: inline-block;
}

.trigger {
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.disabled {
    color: var(--secondary-color);
    cursor: default;
    opacity: 0.7;
}

.active {
    background: var(--inverted-primary-color);
}

.optionTopLeft {
    bottom: 100%;
    right: 0;
}

.optionTopRight {
    bottom: 100%;
    left: 0;
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}
