.ListBox {
    position: relative;
    display: inline-block;
}

.trigger {
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.options {
    position: absolute;
    z-index: 1;
    background-color: var(--listbox-bg);
    border-radius: 12px;
    list-style: none;
    overflow: hidden;
    min-width: 100%;
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

.disabled {
    color: var(--secondary-color);
    cursor: default;
    opacity: 0.7;
}

.active {
    background: var(--inverted-primary-color);
}
