.SelectWrapper {
    display: flex;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    padding: 5px;
    font: var(--font-m);
}

.label {
    margin-right: 10px;
}

.option {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.select {
    background: none;
    outline: none;
    padding: 2px 10px 2px 2px;
    color: var(--inverted-primary-color);
    border: 1px solid var(--inverted-primary-color);
}

.readonly {
    opacity: 0.6;
}
