.app.dark {
    --bg-color: #624f77;
    --inverted-bg-color: #f7fbff;
    --primary-color: #3bd7b9;
    --secondary-color: #3ca694;
    --inverted-primary-color: #6d33bd;
    --inverted-secondary-color: #9b62ff;
}
