.app.dark {
    --bg-color: #624f77;
    --inverted-bg-color: #f7fbff;
    --primary-color: #3bd7b9;
    --secondary-color: #3ca694;
    --inverted-primary-color: #6d33bd;
    --inverted-secondary-color: #9b62ff;

    // Redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // Skeleton
    --skeleton-shadow: #9b62ff;
    --skeleton-color: #58299a;
    --skeleton-flash: #b08ae3;

    // Code
    --code-bg: #7a38d3;

    // Card
    --card-bg: #7c6498;

    // ListBox
    --listbox-bg: #7c6498;
}
