.app.light {
    --bg-color: #f7fbff;
    --inverted-bg-color: #624f77;
    --primary-color: #6d33bd;
    --secondary-color: #9b62ff;
    --inverted-primary-color: #268d7d;
    --inverted-secondary-color: #3bd7b9;

    // Skeleton
    --skeleton-shadow: rgb(0 0 0 / 20%);
    --skeleton-color: #eaeaea;
    --skeleton-flash: #fff;

    // Code
    --code-bg: #eaeaea;

    // Card
    --card-bg: #f0f4f8;

    // ListBox
    --listbox-bg: #f0f4f8;
}

// Redesigned
.app_redesigned.light {
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #62de85;
    --accent-redesigned: #00c8ff;
}
