.app.light {
    --bg-color: #f7fbff;
    --inverted-bg-color: #624f77;
    --primary-color: #6d33bd;
    --secondary-color: #9b62ff;
    --inverted-primary-color: #268d7d;
    --inverted-secondary-color: #3bd7b9;

    // Skeleton
    --skeleton-shadow: rgb(0 0 0 / 20%);
    --skeleton-color: #eaeaea;
    --skeleton-flash: #fff;

    // Code
    --code-bg: #eaeaea;

    // Card
    --card-bg: #f0f4f8;
}
