.app.light{
  --bg-color: #ffffff;
  --inverted-bg-color: #422a5d;

  --primary-color: #6d33bd;
  --secondary-color: #9b62ff;
  --inverted-primary-color: #268d7d;
  --inverted-secondary-color: #3bd7b9;
}