.app.orange {
    --bg-color: #fbf9f4;
    --inverted-bg-color: #ffb721;
    --primary-color: #f51800;
    --secondary-color: #ce1901;
    --inverted-primary-color: #fbf9f4;
    --inverted-secondary-color: #ffc959;

    // Skeleton
    --skeleton-shadow: rgb(0 0 0 / 20%);
    --skeleton-color: #eaeaea;
    --skeleton-flash: #fff;
}
