.app.orange {
    --bg-color: #fbf9f4;
    --inverted-bg-color: #ffb721;
    --primary-color: #f51800;
    --secondary-color: #ce1901;
    --inverted-primary-color: #fbf9f4;
    --inverted-secondary-color: #ffc959;

    // Skeleton
    --skeleton-shadow: rgb(0 0 0 / 20%);
    --skeleton-color: #eaeaea;
    --skeleton-flash: #fff;

    // Code
    --code-bg: #eaeaea;

    // Card
    --card-bg: #f0f4f8;

    // ListBox
    --listbox-bg: #f0f4f8;
}

// Redesigned
.app_redesigned.orange {
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;
}
