.Icon {
    color: var(--icon-redesigned);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    .Icon {
        pointer-events: none;
    }
}

.button:hover .Icon {
    color: var(--accent-redesigned);
}

.hover .Icon:hover {
    color: var(--accent-redesigned);
}
