.ArticlesPageFilters {
    margin: 0 10px 30px;
}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-top: 16px;
}

.tabs {
    margin-top: 16px;
}
