.Page {
    flex-grow: 1;
    padding: 30px 35px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 100;
}

.PageRedesigned {
    overflow-y: auto;
    height: calc(100vh - 64px);
    width: 100%;
}

.trigger {
    height: 20px;
    margin: 10px;
}
