.MainLayout {
    display: grid;
    min-height: 100%;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: 284px 1fr 176px;
}

.sidebar {
    grid-area: sidebar;
    justify-self: flex-start;
    padding: 32px;
}

.content {
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    padding: 32px;
    justify-self: center;
}

.rightbar {
    grid-area: rightbar;
}

.header {
    grid-area: header;
}

.toolbar {
    grid-area: toolbar;
}
