.Icon {
    font-size: 0;
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.fill {
    fill: var(--primary-color);
}

.fill.inverted {
    fill: var(--inverted-primary-color);
}

.stroke {
    stroke: var(--primary-color);
}

.stroke.inverted {
    stroke: var(--inverted-primary-color);
}

.both {
    stroke: var(--primary-color);
    fill: var(--primary-color);
}

.both.inverted {
    stroke: var(--inverted-primary-color);
    fill: var(--inverted-primary-color);
}
