.Navbar {
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    align-items: center;
    padding: 20px;
}

.links,
.dropdown {
    margin-left: auto;
}

.appName {
    width: var(--sidebar-width);
}

.createLink {
    text-decoration: none;
}
