.addonRight,
.addonLeft {
    display: flex;

    svg {
        color: var(--hint-redesigned);
    }
}

.Button {
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    &.withAddon {
        padding: 0 16px;
    }

    &:hover {
        color: var(--accent-redesigned);

        .addonRight,
        .addonLeft {
            color: var(--accent-redesigned);

            svg {
                color: var(--accent-redesigned);
            }
        }
    }
}

.clear {
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
}

.outline {
    color: var(--text-redesigned);
    background: none;
    border-radius: 16px;
    padding: 6px 16px;

    &.normal {
        border: 2px solid var(--icon-redesigned);
    }

    &.success {
        border: 2px solid var(--save-redesigned);
    }

    &.error {
        border: 2px solid var(--cancel-redesigned);
    }

    &:hover {
        border: 2px solid var(--accent-redesigned);
    }
}

.filled {
    border: none;
    outline: none;
    border-radius: 34px;
    padding: 8px 16px;
    background: var(--light-bg-redesigned);
    color: var(--text-redesigned);

    &.success {
        background: var(--save-redesigned);
    }

    &.error {
        background: var(--cancel-redesigned);
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-text-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-text-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-text-xl);
}

.m {
    font: var(--font-text-m);
}

.l {
    font: var(--font-text-l);
}

.xl {
    font: var(--font-text-xl);
}

.disabled {
    opacity: 0.5;
}

.fullwidth {
    width: 100%;
}
