.starRating {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
}

.selectable {
    cursor: pointer;
}

.normal {
    fill: none;
}
