.Skeleton {
    height: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 10px var(--bg-redesigned);
    background-color: var(--light-bg-redesigned);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -150px;
        width: 80%;
        height: 100%;
        display: block;
        background: linear-gradient(to right, transparent 0%, var(--dark-bg-redesigned) 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}
